# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
src/assets/images/products/books/book-luv2code-1000.png
src/assets/images/products/books/book-luv2code-1001.png
src/assets/images/products/books/book-luv2code-1002.png
src/assets/images/products/books/book-luv2code-1003.png
src/assets/images/products/books/book-luv2code-1004.png
src/assets/images/products/books/book-luv2code-1005.png
src/assets/images/products/books/book-luv2code-1006.png
src/assets/images/products/books/book-luv2code-1007.png
src/assets/images/products/books/book-luv2code-1008.png
src/assets/images/products/books/book-luv2code-1009.png
src/assets/images/products/books/book-luv2code-1010.png
src/assets/images/products/books/book-luv2code-1011.png
src/assets/images/products/books/book-luv2code-1012.png
src/assets/images/products/books/book-luv2code-1013.png
src/assets/images/products/books/book-luv2code-1014.png
src/assets/images/products/books/book-luv2code-1015.png
src/assets/images/products/books/book-luv2code-1016.png
src/assets/images/products/books/book-luv2code-1017.png
src/assets/images/products/books/book-luv2code-1018.png
src/assets/images/products/books/book-luv2code-1019.png
src/assets/images/products/books/book-luv2code-1020.png
src/assets/images/products/books/book-luv2code-1021.png
src/assets/images/products/books/book-luv2code-1022.png
src/assets/images/products/books/book-luv2code-1023.png
src/assets/images/products/books/book-luv2code-1024.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1000.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1001.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1002.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1003.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1004.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1005.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1006.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1007.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1008.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1009.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1010.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1011.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1012.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1013.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1014.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1015.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1016.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1017.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1018.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1019.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1020.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1021.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1022.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1023.png
src/assets/images/products/coffeemugs/coffeemug-luv2code-1024.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1000.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1001.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1002.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1003.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1004.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1005.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1006.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1007.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1008.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1009.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1010.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1011.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1012.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1013.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1014.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1015.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1016.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1017.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1018.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1019.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1020.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1021.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1022.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1023.png
src/assets/images/products/luggagetags/luggagetag-luv2code-1024.png
src/assets/images/products/mousepads/mousepad-luv2code-1000.png
src/assets/images/products/mousepads/mousepad-luv2code-1001.png
src/assets/images/products/mousepads/mousepad-luv2code-1002.png
src/assets/images/products/mousepads/mousepad-luv2code-1003.png
src/assets/images/products/mousepads/mousepad-luv2code-1004.png
src/assets/images/products/mousepads/mousepad-luv2code-1005.png
src/assets/images/products/mousepads/mousepad-luv2code-1006.png
src/assets/images/products/mousepads/mousepad-luv2code-1007.png
src/assets/images/products/mousepads/mousepad-luv2code-1008.png
src/assets/images/products/mousepads/mousepad-luv2code-1009.png
src/assets/images/products/mousepads/mousepad-luv2code-1010.png
src/assets/images/products/mousepads/mousepad-luv2code-1011.png
src/assets/images/products/mousepads/mousepad-luv2code-1012.png
src/assets/images/products/mousepads/mousepad-luv2code-1013.png
src/assets/images/products/mousepads/mousepad-luv2code-1014.png
src/assets/images/products/mousepads/mousepad-luv2code-1015.png
src/assets/images/products/mousepads/mousepad-luv2code-1016.png
src/assets/images/products/mousepads/mousepad-luv2code-1017.png
src/assets/images/products/mousepads/mousepad-luv2code-1018.png
src/assets/images/products/mousepads/mousepad-luv2code-1019.png
src/assets/images/products/mousepads/mousepad-luv2code-1020.png
src/assets/images/products/mousepads/mousepad-luv2code-1021.png
src/assets/images/products/mousepads/mousepad-luv2code-1022.png
src/assets/images/products/mousepads/mousepad-luv2code-1023.png
src/assets/images/products/mousepads/mousepad-luv2code-1024.png
